<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: common-header"/>

<body>
<div th:replace="admin/fragments/header :: navbar"/>
<div class="container">
    <div class="row">
        <form th:action="@{'/reports'}" role="form" id="reportType" method="post">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-3">
                        <h3 style="color:#2C3E50">Izvestaji</h3>
                        <h4><label style="color:#E74C3C">Izaberite zeljeni isvestaj</label></h4>
                        <div class="input-group"><span class="input-group-addon"><span
                                class="glyphicon glyphicon-tasks"></span></span>
                            <select class="form-control" name="type">
                                <option value="">Izaberi izvestaj</option>
                                <option value="cancelledPlays">Otkazane predstave</option>
                                <option value="monthlyAttendance">Mesecna poseta</option>
                                <option value="monthlyProfit">Mesecna zarada</option>
                                <option value="playAttendance">Poseta po predstavama</option>
                                <option value="playsPerMonth">Broj predstava po mesecima</option>
                                <option value="repertoire">Repertoar</option>
                            </select>
                        </div>
                        </br>
                        <button type="submit" class="btn btn-success">Generisi izvestaj</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<div th:replace="admin/fragments/header :: body-bottom-scripts"/>
</body>
</html>