<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: common-header"/>

<body>
<div th:replace="admin/fragments/header :: navbar"/>
<div class="container">
    <div class="row">
        <form class="form-horizontal" th:action="@{'/reports'}" method="post"
              enctype="multipart/form-data">
            <fieldset>
                <!--                <input hidden="hidden" name="id" th:value="${repertoire.id}"/>-->


                <!-- stage -->
                <div class="form-group">
                    <div class="col-md-3">
                        <h3 style="color:#2C3E50">Izvestaji</h3>
                        <h4><label for="Choose Report" style="color:#E74C3C">Odaberite zeljeni isvestaj</label></h4>
                        <div class="input-group"><span class="input-group-addon"><span
                                class="glyphicon glyphicon-tasks"></span></span>
                            <select class="form-control">
                                <option value="Income" selected>Profit</option>
                                <option value="Expenses">Broj predstava</option>
                                <option value="Profit">Repertoar</option>
                            </select></div>
                        <h5><label for="Choose time frame" style="color:#E74C3C"> Time :</label>
                            <input id="a" type="radio" name="type" value="Weekly">Nedeljni
                            <input id="b" type="radio" name="type" value="Monthly">Mesecni
                            <input id="c" type="radio" name="type" value="Yearly">Godisnji</h5>
                        </br>
                        <button type="button" class="btn btn-primary btn-lg btn3d"><span
                                class="glyphicon glyphicon-print"></span>
                            Generisi
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<div th:replace="admin/fragments/header :: body-bottom-scripts"/>
</body>
</html>