<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: common-header"/>

<body>
<div th:replace="admin/fragments/header :: navbar"/>

<div class="container">
    <div class="row">
        <form class="form-horizontal" th:action="@{/updatePlay}" method="post"
              enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block">
                    Ažuriraj informacije o predstavi<span style="font-size: small"> * je
					obavezno polje</span>
                </legend>

                <input hidden="hidden" name="id" th:value="${play.id}"/>


                <!-- title -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="title">* Naslov</label>

                    <div class="col-md-8">
                        <input type="text" name="title" class="form-control" id="title"
                               th:value="${play.title}" required="required" placeholder="Naslov"/>
                        <span class="help-block">Naslov predstave</span>
                    </div>
                </div>

                <!-- author -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="author">*
                        Autor</label>
                    <div class="col-md-8">
                        <input type="text" name="author" class="form-control" id="author"
                               th:value="${play.author}" required="required"
                               placeholder="Autor"/> <span class="help-block">Autor
								predstave</span>
                    </div>
                </div>

                <!-- director -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="director">Izdavač</label>
                    <div class="col-md-8">
                        <input type="text" name="director" class="form-control"
                               id="director" th:value="${play.director}"
                               placeholder="Izdavač"/> <span class="help-block">reziser
								predstave</span>
                    </div>
                </div>

                <!-- category -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="category">*
                        Kategorija</label>
                    <div class="col-md-8">
                        <select th:value="${play.category}" id="category" name="category"
                                class="form-control">
                            <option value="" selected="selected" disabled="disabled">Molim
                                vas odaberite opciju...
                            </option>
                            <option value="Drama"
                                    th:selected="(${play.category}=='Menadžment')">Drama
                            </option>
                            <option value="Komedija"
                                    th:selected="(${play.category}=='Fikcija')">Komedija
                            </option>
                            <option value="Mjuzikl"
                                    th:selected="(${play.category}=='Inženjerstvo')">Mjuzikl
                            </option>
                            <option value="Decija predstava"
                                    th:selected="(${play.category}=='Programiranje')">Decija predstava
                            </option>
                        </select>
                    </div>
                </div>

                <!-- status of book -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="status">Status</label>
                    <div class="col-md-8">
                        <label><input value="true" type="radio" name="active" id="status"
                                      th:checked="${play.active}"/> Aktivna </label> <label><input
                            value="false" type="radio" name="active" th:checked="${!play.active}"/>
                        Neaktivna </label> <span class="help-block">U zavisnosti
						da li je predstava aktivna ili ne</span>
                    </div>
                </div>

                <!-- description -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Opis</label>
                    <div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
                                      id="description" th:value="${play.description}" th:text="${play.description}"
                                      placeholder="Opis"></textarea>
                        <span class="help-block">Opis predstave</span>
                    </div>
                </div>

                <!-- upload image -->
                <div class="form-group">
                    <div class="col-md-2">
                        <label>Otpremi poster</label>
                    </div>
                    <div class="col-md-8">
                        <input id="imagefile" type="file" name="imagefile"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Ažuriraj predstavu</button>
                        <a class="btn btn-danger" th:href="@{'/playInfo/' + ${play.id} + '/'}">Otkaži</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<div th:replace="admin/fragments/header :: body-bottom-scripts"/>
</body>
</html>
