<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/header :: common-header"/>
<body>
<div th:replace="user/fragments/header :: navbar"/>
<div class="container">
    <div class="row" style="margin-top: 60px;">
    <h3>Istorijat</h3>
    <hr/>
    <br>
    <p>Pozorište na Terazijama osnovano je 23. decembra 1949. godine kao Humorističko pozorište i potom je nekoliko puta
        menjalo ime. U periodu od 1954. do 1959. godine zove se Beogradska komedija, a spajanjem sa Beogradskim dramskim
        pozorištem u jesen 1959. godine postaje Savremeno pozorište sa dve scene- na Crvenom krstu i na Terazijama. Sa
        novom sezonom 1975/76 ponovo postaje samostalno i to pod sadašnjim imenom – Pozorište na Terazijama. Zbog
        temeljne rekonstrukcije svoje matične zgrade na Terazijama, predstave su od 1991. godine pa do povratka u svoju
        zgradu, izvođene na sceni Teatar T u ustanovi kulture „Vuk“ u Bulevaru Kralja Aleksandra.</p>
    <br>
    <p>Nakon rekonstrukcije (2005) i povratka na matičnu scenu, Pozorište na Terazijama se u tehničkom i prostornom
        smislu, smatra najsavremenijim teatrom u ovom delu Evrope. Kontinuirano usavršavajući izvođačke standarde,
        Pozorište na Terazijama je sa svakom narednom sezonom postajalo repertoarski ambicioznije podižući nivo
        izvođenja i domete koji su prepoznati od naše kulturne javnosti, čime je postalo ustanova visokog potencijala i
        relevantnih umetničkih dostignuća.</p>
    <br>
    <p>U prvim godinama postojanja, repertoar Pozorišta na Terzijama činile su uglavnom komedije i komadi s pevanjem,
        kasnije su se počele izvoditi i operete, da bi 60-ih godina prošlog veka na repertoar stigli i prvi licencirani
        mjuzikli kao što su Oklahoma (1966), Priča iz zapadnog kvarta (1968) i Poljubi me, Kato (1969).</p>
    <br>
    <p>Tokom sedam decenija postojanja Pozorište na Terazijama je svoj dramski, orkestarski, baletski i horski ansambl
        neprekidno obogaćivalo novim, prvenstveno mladim, talentovanim i školovanim umetnicima. To mu je uvek donosilo
        dominantnu notu umetničke svežine, koju je publika nepogrešivo umela da prepozna.</p>
    <br>
    <p>Danas je Pozorište ne Terazijama sinonim za mjuzikl i muzičke predstave ne samo u Beogradu već u celoj zemlji.
        Osim izvođenja brodvejskih hitova u skorijoj prošlosti kao što su bile predstave Kabare, Briljantin ili A Chorus
        Line, sada se u Pozorištu na Terazijama izvode predstave Cigani lete u nebo, Čikago, Neki to vole vruće,
        Producenti, Grk Zorba, Viktor Viktorija, Mamma Mia!, Inside Out, Brodvejske vragolije, kao i svetski hit Fantom
        iz Opere. Pozorište na Terazijama poslednjih deceniju i više, neguje i razvija i predstave zasnovane na domaćoj
        literaturi koje prepoznajemo kao „domaći mjuzikl“, među kojima su Lutka sa naslovne strane, Maratonci trče
        počasni krug, Na slovo, na slovo, kao i još uvek aktuelnih predstava poput Zone Zamfirove, Glavo luda ili Mister
        Dolar.</p>
    </div>
</div>
<div th:replace="user/fragments/header :: footer"/>

<div th:replace="user/fragments/header :: body-bottom-scripts"/>
</body>
</html>