<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="images/movie-projector-icon.png" style="display:inline-block" height="30px" width="30px" />
                <span style="font-family:cursive;display:inline-block;color:yellow">BookMyMovie</span>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/movies">Home</a></li>
            <li><a href="/movies">Movies</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-md-4 col-md-offset-4 panel-style">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    Forgot Password
                </strong></h3>
            </div>
            <div class="panel-body">
                <form action="#" method="post">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Info</strong><br> Enter your valid email before procced to password reset.
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control"  required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                            Submit</button>
                        <a href="login-form.html">Login</a>  | <a href="register-form.html">Register</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

    <!-- Footer -->
    <footer class="footer navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><p class="text-muted">@Copyright 2018 Vaibhav Sood</p></div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

<script src="assets/jquery/jquery-3.3.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.js"></script>
</body>
</html>