<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/header :: common-header"/>
<body>
<div th:replace="user/fragments/header :: navbar"/>
<div class="container">
    <div class="row" style="margin-top: 60px;">
        <h3>Foto galerija</h3>
        <hr/>
        <div class="gallery">
            <img src="https://www.narodnopozoriste.rs/media/images/articles/25/gallery/22_0162.jpg">
        </div>
        <div class="gallery">
            <img src="https://www.narodnopozoriste.rs/media/images/articles/25/gallery/24_0133.jpg">
        </div>
        <div class="gallery">
            <img src="https://www.narodnopozoriste.rs/media/images/articles/25/gallery/dscf2331.jpg">
        </div>
        <div class="gallery">
            <img src="https://www.narodnopozoriste.rs/media/images/articles/25/gallery/dscf2336.jpg">
        </div>
        <div class="gallery">
            <img src="https://www.narodnopozoriste.rs/media/images/articles/25/gallery/img_3180.jpg">
        </div>
        <div class="gallery">
            <img src="https://www.narodnopozoriste.rs/media/images/articles/25/gallery/main_stage_cealing_2.jpg">
        </div>
    </div>
</div>
<div th:replace="user/fragments/header :: footer"/>

<div th:replace="user/fragments/header :: body-bottom-scripts"/>
</body>
</html>