<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/header :: common-header"/>
<body>
<div th:replace="user/fragments/header :: navbar"/>
<div class="container">
    <h3>Repertoar</h3>
    <div class="row" style="margin-top: 60px;">
        <div class="col-xs-12">
            <div th:if="${emptyList}">
                <h5 style="font-style: italic;">Nema rezultata pretrage. Pokušajte sa nekim drugim datumom.</h5>
            </div>

            <table border="0" id="playList">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="repertoire-item" data-th-each="repertoire : ${repertoireList}">
                    <td>
                        <div th:if="${repertoire != null}">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a>
                                        <img th:src="@{'data:image/png;base64,' + ${repertoire.getPlay().playImage}}"
                                             class="img-responsive center-block"/></a>
                                </div>
                                <div class="col-xs-9">
                                    <a><h4 th:text="${repertoire.play.getTitle()}"></h4></a>
                                    <p th:text="${repertoire.stage.getName()}"></p>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <p th:text="${repertoire.projectionDate}"></p>
                                            <p th:text="${repertoire.projectionTime}"></p>
                                            <p th:text="${repertoire.price}">din.</p>
                                        </div>
                                        <div class="col-xs-3">
                                                <a th:href="@{'/repertoireDetail/' +${repertoire.id}}">
                                                    <h4>Rezervisi</h4>
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="user/fragments/header :: footer"/>

<div th:replace="user/fragments/header :: body-bottom-scripts"/>

<script>
    $(document).ready(function () {
        $('#playList').DataTable({
            "pagingType": "full_numbers",
            "ordering": false,
            stateSave: true
        });
    });
    $.extend(true, $.fn.dataTable.defaults, {
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Serbian.json"
        }
    });
</script>
</body>
</html>