<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/header :: common-header"/>
<body>
<div th:replace="user/fragments/header :: navbar"/>
<div class="container">
    <h3>Korpa</h3>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <a class="btn btn-warning" th:href="@{/repertoireList}">Nastavi sa kupovinom</a>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-primary"
                       th:href="@{'/checkout/'+${shoppingCart.id}}">Plaćanje</a>
                </div>
                <br/>
                <div th:if="${notEnoughSeats}" class="alert alert-warning">
                    Nažalost nemamo dovoljno slobodnih sedista. Molim Vas
                    ažurirajte količinu karata.
                </div>
                <div th:if="${emptyCart}" class="alert alert-warning">Vaša korpa je prazna.
                    Proverite da li možete da pronadjete nešto što Vam se sviđa
                    i dodajte u korpu.
                </div>

                <br/> <br/>
                <div class="row">
                    <div class="col-xs-8 ">
                        <h4 style="margin-left:70px;">Artikli</h4>
                    </div>
                    <div class="col-xs-2">
                        <h4>Cena</h4>
                    </div>
                    <div class="col-xs-2">
                        <h4>Količina</h4>
                    </div>
                </div>

                <!--**************** display products in cart ****************-->

                <div class="row" th:each="cartItem : ${cartItemList}">
                    <form th:action="@{/updateCartItem}" method="post">
                        <hr/>
                        <div class="col-xs-2">
                            <a th:href="@{'/repertoireDetail/'+ ${cartItem.repertoire.id}}"> <img
                                    style="width:70px;"
                                    class="img-responsive shelf-book center-block"
                                    th:src="@{'data:image/png;base64,' + ${cartItem.repertoire.getPlay().playImage}}"/>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <div style="margin-left:50px;">
                                <a th:href="@{'/repertoireDetail/' +${cartItem.repertoire.id}}"><h4
                                        th:text="${cartItem.repertoire.play.getTitle()}"></h4></a>
                                <p th:if="${cartItem.repertoire.availableSeats&gt;5}"
                                   style="color: green;">Slobodna sedista</p>
                                <p
                                        th:if="${cartItem.repertoire.availableSeats&lt;5 and cartItem.repertoire.availableSeats&gt;0}"
                                        style="color: green;">
                                    Samo <span th:text="${cartItem.repertoire.availableSeats}"></span> slobodnih sedista
                                </p>
                                <p th:if="${cartItem.repertoire.availableSeats==0}"
                                   style="color: darkred;">Sva mesta su popunjena</p>
                                <a th:href="@{'/shoppingCart/removeItem/'+${cartItem.id}}">izbriši</a>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <h5 style="color: #db3208; font-size: large;">
                                <span th:text="${cartItem.repertoire.price}"
                                      th:style="${cartItem.repertoire.availableSeats}==0? 'text-decoration: line-through' : ''"></span>
                            </h5>
                        </div>

                        <div class="col-xs-2">
                            <input hidden="hidden" name="id" th:value="${cartItem.id}"/> <input
                                th:id="${cartItem.id}" th:name="qty"
                                th:disabled="${cartItem.repertoire.availableSeats==0}"
                                class="form-control cartItemQty" th:value="${cartItem.qty}"/>
                            <button style="display: none;"
                                    th:id="'update-item-'+${cartItem.id}" type="submit"
                                    class="btn btn-warning btn-xs">Ažuriraj
                            </button>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <hr/>
                    <h4 class="col-xs-12 text-right">
                        <strong style="font-size: large;">Ukupna cena (<span
                                th:text="${#lists.size(cartItemList)}"></span> artikli):
                        </strong> <span style="color: #db3208; font-szie: large;"><span
                            th:text="${shoppingCart.grandTotal}"></span></span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="user/fragments/header :: footer"/>

<div th:replace="user/fragments/header :: body-bottom-scripts"/>
</body>
</html>