<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: common-header"/>

<body>
<div th:replace="admin/fragments/header :: navbar"/>

<div class="container">
    <div class="table-responsive">
        <table id="playListTable" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th><input th:id="selectAllPlays" type="checkbox"/></th>
                <th>Scena</th>
                <th>Predstava</th>
                <th>Datum</th>
                <th>Vreme</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="repertoire : ${repertoireList}">
                <td>
                    <input hidden="hidden" name="id" th:values="${repertoire.id}"/>
                    <input th:id="'selected'+${repertoire.id}" class="checkboxPlay" type="checkbox"/>
                </td>
                <td th:text="${repertoire.stage.name}"></td>
                <td th:text="${repertoire.play.title}"></td>
                <td th:text="${repertoire.projection_date}"></td>
                <td th:text="${repertoire.projection_time}"></td>
                <td th:text="${repertoire.status}"></td>

                <td>
                    <input hidden="hidden" name="id" th:values="${repertoire.id}"/>
                    <button class="btn btn-danger btn-xs" >
                        <a th:href="@{'/removeRepertoire/' + ${repertoire.id} + '/' }" style="color: white">
                            <span class="fa fa-times">Izbriši</span></a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-xs ">
                        <a th:href="@{'/updateRepertoire/' + ${repertoire.id} + '/' }" style="color: white">
                            <span>Izmeni</span></a>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button th:id="deleteSelected" class="btn btn-danger">Izbriši selektovano</button>
</div>


<div th:replace="admin/fragments/header :: body-bottom-scripts"/>

<script>
    $(document).ready(function() {
        $('#playListTable').DataTable( {
            "pagingType": "full_numbers",
            "ordering": false,
            stateSave: true
        } );
    } );
    $.extend(true, $.fn.dataTable.defaults, {
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Serbian.json"
        }
    });
</script>
</body>
</html>
