<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Pozoriste</title>
    <link rel="icon" href="https://img.icons8.com/officel/80/000000/theatre-mask.png">


    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="/css/my-login.css" rel="stylesheet"/>

    <link href="/css/non-responsive.css" rel="stylesheet"/>

    <!-- data table -->
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>

</head>

<body>
<!--Navbar -->
<div th:fragment="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pozoriste</a>
            </div>
            <ul class="nav navbar-nav navbar-collapse">
                <li class="active"><a href="#">Repertoar</a></li>
                <li><a href="#">Predstave</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Pozoriste <span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Istorijat</a></li>
                        <li><a href="#">Uprava</a></li>
                        <li><a href="#">Foto galerija</a></li>
                    </ul>
                </li>
                <li><a href="#">Vesti</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Korpa</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>
<!--footer -->
<div th:fragment="footer">
    <footer class="footer navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row text-center">
                <div>
                    <a href="#"><i class="fa fa-instagram fa-icon fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-icon fa-3x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-icon fa-3x"></i></a>
                    <a href="#"><i class="fa fa-facebook-square fa-icon fa-3x"></i></a>
                </div>
            </div>
            <div class="copyright">
                <div class="row text-center">
                    <p class="text-primary">Copyright &copy;2020 Bromazepam</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--bottom scripts -->
<div th:fragment="body-bottom-scripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/scripts.js}"></script>

    <!-- data table -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
</div>
</body>
</html>